<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <th:block th:insert="/fragments/bootstrap/bootstrap::bootstrap_hat"/>
    <meta charset="UTF-8">
    <title>User Info</title>
    <style>
        .listy li {
            text-align: center;
            width: 10px;
        }

        .headline, .deprive-role, .user-messages {
            text-align: center;
            color: cyan;
        }

        #SubscribersDiv, #SubscriptionsDiv, #Messages {
            display: none;
        }
    </style>
</head>
<body>
<th:block th:insert="~{/fragments/bootstrap/bootstrap::bootstrap_body}"/>
<nav class="navbar navbar-expand-lg bg-body-tertiary; navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">
            <img th:src="@{/main/logo}" alt="Logo" width="30" height="24" class="d-inline-block align-top"/>
            ShareMessage
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/user/{id}/profile(id=${user.getId()})}">My
                        profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       th:href="@{/user/{id}/profile/messages(id=${user.getId()})}">My messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/messages}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/messages/create">Create message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">Main page</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <th:block th:if="${user}!=null">
            <a class="navbar-brand" href="/logout">Logout</a>
        </th:block>
        <th:block th:if="${user}==null">
            <a class="navbar-brand" href="/login">Login</a>
        </th:block>
    </div>
</nav>

<h1 class="headline" style="color: brown">User Data</h1>
<form th:action="@{/admin/users/{id}/delete_user(id=${userICheck.getId()})}" method="post" class="position-relative">
    <button type="button" class="btn btn-warning position-absolute top-0 end-0">
        Delete this user
    </button>
</form>
<form th:object="${userICheck}" th:action="@{/admin/users/{id}(id = ${userICheck.getId()})}" th:method="post">
    <th:block th:if="*{getAvatar()!=null}">
        <img th:src="@{/user/{id}/profile/avatar(id=${userICheck.id})}" alt="User avatar" width="80" height="80"/>
    </th:block>
    <br>
    <ul class="list-group">
        <li class="list-group-item" th:text="|Id: ${userICheck.getId()}|"></li>
        <li class="list-group-item" th:text="|Username: ${userICheck.getUsername()}|"></li>
        <li class="list-group-item" th:text="|Email: ${userICheck.getEmail()}|"></li>
        <li class="list-group-item" th:text="|Activated: ${userICheck.isActive()}|"></li>
    </ul>

    <button class="btn btn-info" onclick="event.preventDefault();
  var subscribersDiv = document.getElementById('SubscribersDiv');
  if(subscribersDiv.style.display === 'block') {
    subscribersDiv.style.display = 'none';
  } else {
    subscribersDiv.style.display = 'block';
  }">Show/Hide Subscribers
    </button>
    <button class="btn btn-info" onclick="event.preventDefault();
  var subscriptionsDiv = document.getElementById('SubscriptionsDiv');
  if(subscriptionsDiv.style.display === 'block') {
    subscriptionsDiv.style.display = 'none';
  } else {
    subscriptionsDiv.style.display = 'block';
  }">Show/Hide Subscriptions
    </button>
    <button class="btn btn-info" onclick="event.preventDefault()
var messages = document.getElementById('Messages');
        if(messages.style.display==='block'){
            messages.style.display='none';
        }else {
            messages.style.display='block'
        }
">Show/Hide Messages
    </button>


    <div class="Subscribers" id="SubscribersDiv">
        <h1 style="color: red">Subscribers</h1>
        <ul class="list-group list-group-horizontal-sm list-group-item-info">
            <li class="list-group-item flex-fill">Id</li>
            <li class="list-group-item flex-fill">Username</li>
            <li class="list-group-item flex-fill">Email</li>
            <li class="list-group-item flex-fill">Account is activated</li>
            <li class="list-group-item flex-fill">Role</li>
            <li class="list-group-item flex-fill">Action</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm"  th:each="u:${userICheck.getSubscribers()}">
            <li class="list-group-item flex-fill"><a th:text="${u.getId()}"/></li>
            <li class="list-group-item flex-fill"><a th:text="${u.getUsername()}"/></li>
            <li class="list-group-item flex-fill"><a th:text="${u.getEmail()}"/></li>
            <li class="list-group-item flex-fill"><a th:text="${u.isActive()}"/></li>
            <li class="list-group-item flex-fill" th:each="r:${u.getRoles()}"><a
                    th:text="${r.getName().replace('ROLE_', '')}"/></li>
            <li class="list-group-item flex-fill"><a th:href="@{/admin/users/{id}(id = ${u.getId()})}">data</a></li>
        </ul>
    </div>
    <div class="Subscriptions" id="SubscriptionsDiv">
        <h1 style="color: red">Subscriptions</h1>
        <ul class="list-group list-group-horizontal-sm list-group-item-info">
            <li class="list-group-item flex-fill">Id</li>
            <li class="list-group-item flex-fill">Username</li>
            <li class="list-group-item flex-fill">Email</li>
            <li class="list-group-item flex-fill">Account is activated</li>
            <li class="list-group-item flex-fill">Role</li>
            <li class="list-group-item flex-fill">Action</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm"  th:each="u:${userICheck.getSubscriptions()}">
            <li class="list-group-item flex-fill"><a th:text="${u.getId()}"/></li>
            <li class="list-group-item flex-fill"><a th:text="${u.getUsername()}"/></li>
            <li class="list-group-item flex-fill"><a th:text="${u.getEmail()}"/></li>
            <li class="list-group-item flex-fill"><a th:text="${u.isActive()}"/></li>
            <li class="list-group-item flex-fill" th:each="r:${u.getRoles()}"><a
                    th:text="${r.getName().replace('ROLE_', '')}"/></li>
            <li class="list-group-item flex-fill"><a th:href="@{/admin/users/{id}(id = ${u.getId()})}">data</a></li>
        </ul>
    </div>

    <label style="color: seagreen">Set activity:
        <select class="form-select" aria-label="Default select example" name="active" th:value="*{isActive()}">
            <option>true</option>
            <option>false</option>
        </select>
    </label><br><br><br>

    <div style="text-align: justify-all;">
        <label>Set role:
            <select class="form-select" aria-label="multiple select example" name="roles" multiple>
                <option th:each="role : ${roles}" th:value="${role.getName()}"><p
                        th:text="${role.getName().replace('ROLE_', '').toLowerCase()}"></p></option>
            </select>
        </label><br>
    </div>

    <button type="submit" class="btn btn-primary">
        Update user data
    </button>

</form>

<div class="deprive-role">
    <h1 style="color: darkgoldenrod">Deprive user of role:</h1>
    <div class="listy">
        <ul class="list-group list-group-horizontal-sm list-group-item-info">
            <li class="list-group-item flex-fill">Role</li>
            <li class="list-group-item flex-fill">Deprive</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm" th:each="r:${userICheck.getRoles()}">
            <li class="list-group-item flex-fill"
                th:text="${r.getName().replace('ROLE_', '').toLowerCase()}"></li>
            <li class="list-group-item flex-fill">
                <div>
                    <form th:action="@{/admin/users/{id}/delete_role/{role_id}(id=${userICheck.getId()}, role_id=${r.getId()})}"
                          method="post">
                        <button type="submit">Clean</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="messages" id="Messages">
    <h1 class="user-messages" style="color: red">User messages</h1>
    <div class="card-columns">
        <div class="card text-white bg-dark mb-3 card border-info" style="max-width: 18rem;"
             th:each="m:${userICheck.getMessages()}">
            <img class="card-img-top" th:src="@{/messages/{id}/picture(id=${m.getId()})}" alt="Card image cap"
                 onerror="this.style.display='none'">
            <div class="card-body">
                <p class="card-text" th:text="${m.getText()}">message text</p>
                <h6 style="color: pink" class="card-subtitle mb-2 text" th:text="${m.getTag()}">message tag</h6>
                <a class="fa-solid fa-heart" th:text="${m.getLikes().stream().count()}"></a>
                <form th:action="@{/messages/{id}/delete_message(id=${m.getId()})}" method="post">
                    <button type="submit" class="btn btn-outline-light btn-sm">delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>