<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1 style="color: darkorange">Login Page</h1>
<div>
 <form action="/processing_login" method="post">
     <label>Username:
         <input type="text" name="username">
     </label><br>
     <label>Password:
         <input type="password" name="password">
     </label><br>
     <button type="submit">Login</button>
 </form>
</div>
<br>
<div>
    <a href="/registration">registration</a>
</div>
</body>
</html>