<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<div th:insert="~{logout_fragment}"></div>
<form th:action="@{/messages}" th:method="POST">
    <label>
        <input type="text" name="text" placeholder="Text">
    </label>
    <label>
        <input type="text" name="tag" placeholder="Tag">
    </label>
    <button type="submit">Save</button>
<div th:if="${errors}">
    <p th:each="error : ${errors}" th:text="${error.defaultMessage}" style="color: red">Error message</p>
</div>
</form>

<form th:action="@{/messages}">
    <H1>All Messages</H1>
   <div>
       Filter:
       <label>
           <input type="text" name="text" placeholder="TextFilter" th:value="${filter.getText()}">
       </label>
       <label>
           <input type="text" name="tag" placeholder="TagFilter" th:value="${filter.getTag()}">
       </label>
       <button type="submit">Filter</button>
   </div>

   <div>
       Page:
       <label>
           <input type="number" name="page" placeholder="Page" th:value="${messages.getMetadata().getNumberOfPage()}">
       </label>
       <label>
           <input type="number" name="size" placeholder="Size" th:value="${messages.getMetadata().getSize()}">
       </label>
       <button type="submit">Page filter</button>
   </div>


    <div th:each="message : ${messages.getContent()}" th:text="|${message.getId()}. ${message.getText()} ('#'${message.getTag()}) ${message.getAuthorUsername()}|"></div>

</form>
</body>
</html>