<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <th:block th:insert="/fragments/bootstrap/bootstrap::bootstrap_hat"/>
    <meta charset="UTF-8">
    <title>Messages</title>
    <style>
        #message-search-filter{
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:insert="~{/fragments/bootstrap/bootstrap::bootstrap_body}"/>
<th:block th:insert="~{/fragments/bootstrap/bootstrap::NavBarForLoggedUser}"/><br>

<div id="all-messages">
<form th:action="@{/messages}">
   <div id="message-search-filter">
      Search in messages:
           <input type="text" name="text" placeholder="Text">
           <input type="text" name="tag" placeholder="Tag">
       <button type="submit">Search</button>
   </div><br>



<div id="messages-on-page">
    <th:block >
        <div class="card-columns" >
            <div class="card text-white bg-dark mb-3 card border-info" style="max-width: 18rem;" th:each="m:${messages.getContent()}">
                <a th:if="${user.getId()==m.getAuthorId()}" th:href="@{user/{id}/profile/(id=${m.getAuthorId()})}"><img th:src="@{/user/{id}/profile/avatar(id=${m.getAuthorId()})}" alt="User avatar" width="50" height="50" onerror="this.style.display='none'"/></a>
                <a th:if="${user.getId()!=m.getAuthorId()}" th:href="@{user/{id}/profile/show(id=${m.getAuthorId()})}"><img th:src="@{/user/{id}/profile/avatar(id=${m.getAuthorId()})}" alt="User avatar" width="50" height="50" onerror="this.style.display='none'"/></a>
                <h5 style="color: darkgreen" class="card-title" th:text="${m.getAuthorUsername()}">Card title</h5>
                <img class="card-img-top" th:src="@{/messages/{id}/picture(id=${m.getId()})}" alt="Card image cap" onerror="this.style.display='none'">
                <div class="card-body">
                    <p class="card-text" th:text="${m.getText()}">message text</p>
                    <h6 style="color: pink"  class="card-subtitle mb-2 text" th:text="${m.getTag()}">message tag</h6>
                    <a th:text="${m.getLikes().stream().count()}"></a>
                    <th:block th:if="${!notLiked.contains(m.getId())}">
                    <form th:action="@{/user/dislike/{messageId}(messageId=${m.getId()})}" method="post">
                        <button class="fa-solid fa-heart" type="submit"></button>
                    </form>
                    </th:block>
                    <th:block th:if="${notLiked.contains(m.getId())}">
                        <form th:action="@{/user/like/{messageId}(messageId=${m.getId()})}" method="post">
                            <button class="fa-regular fa-heart" type="submit"></button>
                        </form>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
</div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item" th:each="i:${#numbers.sequence(0, messages.getMetadata().getTotalElements()/10, 1)}"><a class="page-link" th:href="@{messages(page=${i},size=10)}" th:text="${i}"></a></li>
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</form>
</div>
</body>
</html>