<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>New user registration page</h1>

<div>
  <form th:action="@{/registration}" method="post">
    <label>Username:
      <input type="text" name="username">
    </label><br>
    <label>Password:
      <input type="password" name="password">
    </label><br>
    <select name="roles" multiple>Role:
      <option th:each="role : ${roles}" th:value="${role.getName()}" th:text="${role.getName()}"></option>
    </select>
    <div th:if="${errors}">
      <p th:each="error : ${errors}" th:text="${error.defaultMessage}" style="color: red">Error message</p>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
</body>
</html>