<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/reCaptcha_fragment::reCaptcha_head}"/>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>New user registration page</h1>


  <form id="register-form" th:action="@{/registration}" enctype="multipart/form-data" method="post">
    <label>Email:
      <input type="text" name="email">
    </label><br>
   <th:block th:insert="~{fragments/username_and_password_fragment}"/>
    <label>Avatar:
      <input type="file" name="avatar">
    </label><br>
    <div th:if="${errors!=null}">
      <p th:each="error : ${errors}" th:text="${error.defaultMessage}" style="color: red">Error message</p>
    </div>

<th:block th:insert="~{fragments/reCaptcha_fragment::reCaptcha_body (buttonName = 'Create Account')}"/>

  </form>

</body>
</html>