<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/reCaptcha_fragment::reCaptcha_head"/>
<head>
    <th:block th:insert="fragments/bootstrap/bootstrap::bootstrap_hat"/>
    <meta charset="UTF-8">
    <title>Password update</title>
    <style>
        .position-relative {
            height: 100vh;
            display: flex;
            justify-content: center;
            /*align-items: center;*/
            text-align: center;
        }
         h1 {
             text-align: center;
         }
    </style>
</head>
<body>
<th:block th:insert="fragments/bootstrap/bootstrap::bootstrap_body"/>
<th:block th:insert="~{fragments/header_fragment::backButton}"/>



<h1>Update password</h1>
<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle">
        <form th:action="@{/user/{id}/profile/update_password(id=${user.getId()})}" th:method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Old Password</span>
                <input  th:value="${password.getOldPassword()}" name="oldPassword"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">New Password</span>
                <input  th:value="${password.getNewPassword()}" name="newPassword" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
                <input  th:value="${password.getConfirmPassword()}" name="confirmPassword" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <th:block th:insert="~{fragments/reCaptcha_fragment::reCaptcha_body (buttonName='Change')}"/>
        </form>
    </div>
    <div th:if="${errors}" th:each="e:${errors}">
        <span style="color: red" th:text="${e.defaultMessage}"></span>
    </div>
    <div th:if="${reCaptchaErrors}">
        <span style="color: red" th:text="'reCaptcha Error'"></span>
    </div>
</div>

</body>
</html>