<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password update</title>
</head>
<body>
UPDATE PASSWORD:
<div th:if="${session}">
    <form th:action="@{/user/{id}/profile/update_password(id=${user.getId()})}" th:method="post">
        <label for="username">Username
            <input id="username" type="text" name="username" th:pattern="${user.getUsername()}" required>
        </label><br>

        <label for="newPassword">New password
            <input id="newPassword" type="text" name="newPassword">
        </label><br>

        <label for="confirmPassword">Confirm new password
            <input id="confirmPassword" type="text" name="confirmPassword" required>
        </label><br>

        <button type="submit">Update Password</button>
    </form>
</div>
</body>
</html>